---
layout: default
---

<div class="page">
  <h1 class="page-title">{{ page.title }}</h1>
  {{ content }}
</div>

---
layout: default
title: Our Mission
---

<div class="page">
  <h1 class="page-title">Our Mission</h1>
  <p>
    Our mission is to mitigate bias in large language models.
  </p>
  <p>
    SKJSF
  </p>
</div>

---
layout: default
title: About Us and Contributors
---

<div class="page">
  <h1 class="page-title">About Us and Contributors</h1>
  <p>
    Our team is
  </p>
  <h2>Our Team</h2>
  <ul>
    <li><strong>Dr. Afra Mashhadi</strong> - Lead Researcher. Expert in AI ethics and large language models.</li>
    <li><strong>Mariam</strong> - Data Scientist. Specializes in machine learning algorithms and bias detection.</li>
    <li><strong>Erica</strong> - Research Assistant. Focuses on data analysis and ethical implications.</li>
  </ul>
  <h2>Contributors</h2>
  <p>
    We also acknowledge the contributions of various collaborators and supporters who have provided invaluable feedback and assistance throughout our research.
  </p>
  <ul>
    <li><strong>reddit post</strong> - u/....</li>
    <li><strong>reddit post</strong> - u/....</li>
  </ul>
</div>
